html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #e8997a;
}
.quoteBox {
    background: #eafdff;
    border-radius: 15px;
    margin: 175px auto 0 auto;
}

.insertQuote {
    padding-top: 25px;
}

.my-right {
    padding-right: 50px;
}

.insertAuthor {
    padding-bottom: 25px;
}

.my-buttons {
    margin: 20px auto 100px auto;
}

.myBtn {
    background-color: #eafdff;
    border-radius: 5px;
}

.myBtn:hover {
    -webkit-box-shadow: 0 0 0 2em transparent;
    box-shadow: 0 0 0 2em transparent;
    border: 3px solid #eafdff;
}